.dashboard-container {
  padding: 20px;
  min-height: 100vh;
  overflow-y: auto;
}

  
  .revenue-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  .revenue-table th,
  .revenue-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }

  .chart-wrapper {
    margin-top: 20px;
    padding: 10px;
    overflow: visible;
  }

